@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --first-color: hsl(212, 45%, 89%);
  --second-color: hsl(0, 0%, 100%);
  --third-color: hsl(220, 15%, 55%);
  --fourth-color: hsl(218, 44%, 22%);

  --outfit-font: 'Outfit', sans-serif;
  --content-width: 250px;
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--first-color);
  font-family: var(--outfit-font);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-card {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  width: 260px;
  border-radius: var(--border-radius);
}

img {
  border-radius: var(--border-radius);
  width: var(--content-width);
}

h3 {
  font-weight: bold;
  width: var(--content-width);
  text-align: center;
  padding: 15px 10px 0px 10px;
  font-size: 20px;
  color: var(--fourth-color);
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400px;
  font-size: 15px;
  text-align: center;
  padding: 0px 15px 0px 15px;
  color: var(--third-color)
}